@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(
    to left bottom,
    #5565d3,
    #8889df,
    #b3aeea,
    #dad6f5,
    #ffffff
  );
  min-height: 100vh;
}
h1 {
  text-align: center;
  padding: 0.3rem;
  font-size: 3rem;
  background-image: linear-gradient(to top, #78daf7, #b8e3ff, #e5efff, #ffffff);
}
.options {
  display: flex;
  justify-content: flex-end;
}
.options > select {
  margin: 1rem;
  border: none;
  background-color: blueviolet;
  font-size: 1rem;
  padding: 0.3rem;
  font-weight: 700;
  outline: none;
  color: white;
  background-image: linear-gradient(to left bottom, #223ade, #7369e9, #a59af3);
}
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.indi-chart {
  background-color: white;
  width: 48%;
  margin: 1%;
}
@media (max-width: 900px) {
  .indi-chart {
    width: 100%;
    overflow-x: auto;
    margin: 3%;
  }
  .indi-chart > canvas {
    width: 150% !important;
    min-height: 300px !important;
  }
}
